{% extends "base.html.twig" %}

{% block body %}

  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <form action="#" method="POST">
            <label for="name">Name:</label><br>
            <input class="form-control" type="text" name="name" id="name"><br>
            <label for="address">Address:</label><br>
            <input class="form-control" type="text" name="address" id="address"><br>
            <label for="creditCard">Credit Card Number:</label><br>
            <input class="form-control" type="text" name="creditCard" id="creditCard"><br>
            <label for="email">Email:</label><br>
            <input class="form-control" type="text" name="email" id="email">
            <input type="submit" class="my-3 btn btn-primary" value="Checkout">
          </form>
        </div>

        <div class="my-3 ms-5 col">
          <h4>Product Name</h4>
          <h4>Quantity</h4>
          <h4>Net Price</h4>
          <h4>VAT Amount</h4>
          <h4>Item Subtotal</h4>
        </div>

        <div class="my-3 ms-5 col">
          <h4>Net Total</h4>
          <h4>Sub Total (inc VAT)</h4>
          <h4>Gross Total</h4>
        </div>
      </div>
    </div>
  </section>

{% endblock %}